version: "3.9"

services:
  ecommerce-app:
    build: .
    container_name: ecommerce-app
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      ecommerce-mysql:
        condition: service_healthy
      rabbitmq:
        condition: service_started
      redis:
        condition: service_started

  ecommerce-mysql:
    image: mysql:8.0
    container_name: ecommerce-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: e_commerce_order_system
      MYSQL_USER: ecommerce
      MYSQL_PASSWORD: ecommerce123
    ports:
      - "3306:3306"
    volumes:
      - ./db-data/database-mysql:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-u", "ecommerce", "-pecommerce123"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 40s # TAMBAHKAN INI: Beri waktu 40 detik untuk inisialisasi awal

  rabbitmq:
    image: rabbitmq:3-management
    container_name: ecommerce-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  redis:
    image: redis:7
    container_name: ecommerce-redis
    ports:
      - "6379:6379"